@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<html>
    <head>

        <script src="~/js/site.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>


        <div class="text-center">
    <h1 class="display-4">Welcome</h1>



<div>

    <input type="text" id="alvl" placeholder="a lvl" />
    <input type="text" id="1value" placeholder="Нижняя" />
    <input type="text" id="2value" placeholder="Верхняя" />


    <button onclick="updateTable()">+</button>

    <br />

    <select id="selectTable">
        <option value="first">Первая таблица</option>
        <option value="second">Вторая таблица</option>
    </select>

</div>

<div>
     <table title="Table 1" id="dataTable">
    <tr>
      <th>alvl</th>
      <th>Нижняя</th>
      <th>Верхняя</th>
    </tr>
  </table>

  <table title="Table 2" id="dataTable2">
    <tr>
      <th>alvl</th>
      <th>Нижняя</th>
      <th>Верхняя</th>
    </tr>
  </table>

  <input type="text" id="row" placeholder="Строка" />
  <button onclick="deleteRow()">Удалить строку</button>

</div>

<div>
    <button onclick="updateChart()">Отрисовка</button>
</div>

<form>
    <select>
        <option disabled>Выберите функцию</option>
        <option value="sum">Сложение</option>
        <option value="sub">Вычитание</option>
        <option value="multi">Умножение</option>
        <option value="division">Деление</option>
    </select>

</form>

    <div>
  <canvas id="myChart"></canvas>
</div>
</div>

    </body>


</html>


